<header>
  <header class="banner navbar navbar-default navbar-static-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path do %>
          <%= image_tag "logo.png", width: "auto", :'max-width' => "165", height: "45", border: "0" %>
        <% end %>
        <span class="welcome-msg<%= ' hidden' unless signed_in? %>">
          Welcome back
          &nbsp;<%= link_to(current_user.display_name, current_user) unless current_user.nil? %>
        </span>
      </div>
      <nav class="collapse navbar-collapse" role="navigation">
        <ul id="menu-primary-navigation" class="nav navbar-nav">
          <li class="menu-home">
            <%= link_to "Home", root_path %>
          </li>
          <li class="menu-get-the-app">
            <a href="#">Get the App</a>
          </li>
          <li class="menu-community">
            <%= link_to "Community", recipes_path %>
          </li>
          <%= render 'layouts/sign_in_out_link' %>
        </ul>
      </nav>
      <div class="sign-form dropdown-menu">
        <%= form_for @session_form, url: login_path, remote: true do |f| %>
          <%= render 'sessions/fields', f: f %>
        <% end %>
      </div>
    </div>
  </header>
</header>
