<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang='en'> <![endif]-->
<!--[if IE 7]>        <html class="no-js lt-ie9 lt-ie8" lang='en'> <![endif]-->
<!--[if IE 8]>        <html class="no-js lt-ie9" lang='en'> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang='en'> <!--<![endif]-->

  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>

    <%= render 'layouts/header' %>

    <!--[if lt IE 7]><div class="alert alert-warning">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.', 'roots</div><![endif]-->

    <div class="wrap container" role="document">
      <div class="content row">
        <% if content_for? :sidebar %>
          <aside class="<%= sidebar_classes %>" role="complementary">
            <%= yield :sidebar %>
          </aside><!-- /.sidebar -->
        <% end %>
        <div class="<%= main_classes %>" role="main">
          <%= yield %>
          <div style="clear: both;"></div>
        </div><!-- /.main -->
      </div><!-- /.content -->
    </div><!-- /.wrap -->

    <%= render 'layouts/footer' %>

  </body>
</html>
